#hud-menu {
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    height: 8vh;
    bottom:0;
    left:0;
    z-index:100;
    display:grid;
    grid-template-columns: 20vw 60vw 20vw;
    /* box-shadow: 0 -2vh 2vh rgb(0,0,0,0.8); */
}

#menu-left * {
    margin: 0.6em 1.4em;
}

#toolbar {
    padding: 0 2vw;
    width: calc(100% - 4vw);
    height:100%;
    background-color: black;
    border-radius: 2vw 2vw 0 0;
}

#toolbar .toolbar-container {
    padding: 0 1.5vw;
    width: calc(100% - 3vw);
}

.toolbar-container {
    --toolbar-item-scroll: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
    align-items: center;
    height: 100%;
    width: 100%;
}

.toolbar-item {
    --background: rgb(20,20,20);
    position: relative;
    width: 5%;
    padding: 1vh;
    height: 4vh;
    margin: 0;
    background-color: var(--background);
    border-radius: 10px;
    flex-shrink: 0;
    transform: translate(var(--toolbar-item-scroll));
    transition: transform 800ms ease-out;
}
.toolbar-item:hover {
    cursor: pointer;
    --background: rgb(50,50,50);
}

.toggle-active {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 2vh;
    margin-top: -1vh;
}

.toggle-active::before, .toggle-active::after {
    position: absolute;
    top: 0%;
    width: 40%;
    height: 35%;
    background-color: rgba(0,0,0,0);
    content: "";
}

.toggle-active::before {
    left: -40%;
    border-top-right-radius: 50px;
    box-shadow: 15px -5px 0 var(--background);
}
.toggle-active::after {
    right: -40%;
    border-top-left-radius: 50px;
    box-shadow: -15px -5px 0 var(--background);
}

#menu-left {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#build-menu {
    width:100vw;
    height:10vh;
    background-color: rgba(20, 20, 20, 1);
    position: absolute;
    bottom:8vh;
    left:0;
    z-index:100;
    display: none;
}