#map {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 300vw;
    height: 300vw;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index:1;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    background-color: rgb(110, 110, 110);
    position:absolute;
    background-size: 100% 100%;
}

.grass {
    background-image: url(../../graphics/map/tile-grass.svg);
}

.factory {
    background-image: url(../../graphics/map/tile-base.svg);
}

.building {
    width: calc(var(--tile-size) / 8);
    height: calc(var(--tile-size) / 8);
    position:absolute;
    z-index: 11;
    background-size:100% 100%;
}

.building:hover {
    background-color: rgba(200,200,200,0.4);
    cursor: pointer;
}